/* Navbar.css */

.navbar{
  display: flex;
  background-color: white; /* Dark background color */
  padding: 10px 30px; /* Padding top and bottom, and left and right */
  text-align: center;
  align-items: center;
  color: #363538;
  font-size: 30px;
  font-weight: bold;
  justify-content: space-between; /* Space evenly between the left and right sections */
  text-decoration: none;
}
  
.navbar-left, .navbar-right {
  list-style-type: none;
  padding: 0;
  text-decoration: none;
  margin: 0;
}

.navbar-left li, .navbar-right li{
  display: inline;
  margin-right: 10px; /* Add margin between the links */
}

.navbar-right li a{
  font-size: 25px;
}

.navbar-right li:last-child {
  margin-right: 0; /* Remove margin from the last link */
  text-decoration: none;
}
    
.navbar-left li a, .navbar-right li a{
  color: #363538;
  text-decoration: none;
  display: inline;
  margin-right: 10px;
}

.navbar a:hover{
color: #408697;
}
  

  
  